@page
@model Adventure2020.PlaceModel
@{
    ViewData["Title"] = "Place";
}
    <div class="text-center">
        <h1>@Model.Location.Title</h1>
        <div>@Model.Location.Description</div>


        @foreach (var _direction in Model.Directions)
        {
            if (_direction.Description != "Die")
            {
                <a class="btn btn-secondary" asp-page="Place" asp-route-id="@_direction.To">@_direction.Description</a>
            }
            else
            {
                <p></p>
            }

        }


        <p>HP: @Model.gameService.State.HP</p>
        <p>Energy: @Model.gameService.State.Energy</p>
        <p>@Model.gameService.State.Name</p>


        <form method="get" class="text-center">
            <table>
                <tr>
                    @foreach (var _item in Model.gameService.State.Inventory)
                    {
                        <td>@_item.ItemDescription</td>
                    }
                </tr>
                <tr>
                    @foreach (var _item in Model.gameService.State.Inventory)
                    {
                        <td>@_item.InInvent</td>
                    }
                </tr>
            </table>

        </form>

    </div>
