@page
@model Adventure2020.PlaceModel
@{
    ViewData["Title"] = "Place";
}

<h1>@Model.Location.Title</h1>
<div>@Model.Location.Description</div>
<div class="m-1">
    @foreach (var _direction in Model.Directions)
    {
        <a class="btn btn-secondary" asp-page="Place" asp-route-id="@_direction.To">@_direction.Description</a>
        <p>HP: @Model.GameService.State.HP</p>
            //@Model.GameService.State.Name
        <table>
            <tr>
                @foreach (var _item in Model.GameService.State.Inventory)
                {
                    <td>@_item.ItemDescription</td>
                }
            </tr>
            <tr>
                @foreach (var _item in Model.GameService.State.Inventory)
                {
                    <td>@_item.Counter</td>
                } 
            </tr>
        </table>
       
        <form method="post">
            @if (Model.Location.FoundItem != null)
            {
                <button type="submit">Add @Model.Location.FoundItem.ItemDescription</button>
            }
        </form>
    }
</div>
        